<div class="container py-5 px-4" style="margin-top: 3%;">
    <!-- For demo purpose-->
    <div class="row rounded-lg overflow-hidden shadow">
        <!-- Users box-->
        <div class="col-4 px-0">
            <div>
                
            </div>
            <div class="bg-white">

                <div class="bg-gray px-4 py-2 bg-light">
                    <p class="h5 mb-0 py-1">Katılımcılar</p>
                </div>

                <div class="messages-box">
                    <div class="list-group rounded-0"  *ngFor="let user of userArray">
                        <a class="list-group-item list-group-item-action active text-white rounded-0">
                            <div class="media">
                                <div class="media-body ml-4">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0">{{user}}</h6><small class="small font-weight-bold"></small>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <input type="text" class="form-control rounded-0 border-0 py-4 bg-light"
                    [(ngModel)]="userName"  placeholder="Adınız">
                    
                    <input type="text" class="form-control rounded-0 border-0 py-4 bg-light"
                        [(ngModel)]="messagePassword" placeholder="şifre">

                      

                        <button type="button" class="btn btn-info" (click)="GeneratePassword()">Şifre Üret</button>
                        {{randomPass}}

                        <button type="button" class="btn btn-info" (click)="JoinChat(userName)">Katıl</button>

                </div>
            </div>
        </div>
        <!-- Chat Box-->
        <div class="col-8 px-0">
            <div class="px-4 py-5 chat-box bg-white">
                <!-- Sender Message-->
                <div *ngFor="let messageRead of messageArray">

                    <div *ngIf="messageRead.user == 'me'">
                        <!-- Reciever Message-->
                        <div class="media w-50 ml-auto mb-3">
                            <div class="media-body">
                                <div class="bg-primary rounded py-2 px-3 mb-2">
                                    <p class="text-small mb-0 text-white">{{messageRead.message}}</p>
                                </div>
                                <p class="small text-muted">{{userName}} - {{messageRead.minuteAndHour}}</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="messageRead.user == 'you'">

                        <div class="media w-50 mb-3">
                            <div class="media-body ml-3">
                                <div class="bg-light rounded py-2 px-3 mb-2">
                                    <p class="text-small mb-0 text-muted">{{messageRead.message}}</p>
                                </div>
                                <p class="small text-muted">{{userName}} - {{messageRead.minuteAndHour}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Typing area -->
            <form action="#" class="bg-light">
                <div class="input-group">
                    <input type="text" class="form-control rounded-0 border-0 py-4 bg-light" [(ngModel)]="send_message"
                    (keydown.enter)="SendMessage()"  [ngModelOptions]="{standalone: true}" placeholder="mesajını yaz" />
                    <div class="input-group-append">
                        <button id="button-addon2" type="text" class="btn btn-link"> <i class="fa fa-paper-plane"
                                (click)="SendMessage()"></i></button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>